:root {
    --button-bg-color: rgba(255, 255, 255, 0.9);
    --button-border-color: #888;
    --button-box-shadow-color: rgba(0, 0, 0, 0.5);
    --button-hover-bg-color: rgba(235, 235, 235, 0.8);
    --button-hover-shadow-color: rgba(255, 255, 255, 0.8);
    --button-active-color: rgb(128, 128, 128);
    --button-active-shadow-color: rgba(0, 0, 0, 0.3);
    --icon-bg-color: rgba(200, 200, 200, 0.9);
    --icon-shadow-color: rgba(0, 0, 0, 0.9);
    --icon-hover-border-color: rgba(175, 175, 175, 0.8);
    --icon-hover-bg-color: rgba(145, 145, 145, 0.8);
    --icon-active-border-color: rgba(255, 255, 255, 0.5);
    --icon-active-bg-color: rgba(150, 150, 150, 0.5);
}


* {
    box-sizing: border-box;
}

html, body, #map {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.search-bar-wrap, .navbar-wrap {
    position: absolute;
    width: 100%;
}

.search-bar-wrap {
    top: 0;
}

.navbar-wrap {
    bottom: 0;
}

.search-bar, .navbar {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    border-top: 0.5px solid var(--button-border-color);
    border-bottom: 0.5px solid var(--button-border-color);
    box-shadow: 0px 0px 15px 0 var(--button-box-shadow-color);
}

.search-bar {
    grid-template-columns: 3.4em auto 3.4em;
}

.navbar {
    grid-template-columns: repeat(5, 1fr);
}

.search-bar:first-child, .navbar:first-child {
    border-left: 0.5px solid var(--button-border-color);
}

.search-bar:last-child, .navbar:last-child {
    border-right: 0.5px solid var(--button-border-color);
}

.search-bar a, .search-bar input, .navbar a {
    /* height */
    font-size: 1.3em;   
    padding: 0.5em 0;
    /* ----------------- */
    text-align: center;
    color: var(--button-border-color);
    background-color: var(--button-bg-color);
}

.search-bar input {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
}


.icon-shadow {
    padding: 1px;
    color: transparent;
    background-color: var(--icon-shadow-color);
    text-shadow: 0 0 1px var(--icon-bg-color);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.search-bar input:hover, .search-bar a:hover, .navbar a:hover {
    background-color: var(--button-hover-bg-color);
    box-shadow: inset 0 0 55px 0 var(--button-hover-shadow-color);
    transition: all 0.2s ease-in;
}

.search-bar a:hover > .icon-shadow, .navbar a:hover > .icon-shadow {
    color: transparent;
    background-color: var(--icon-hover-border-color);
    text-shadow: 0 0 5px var(--icon-hover-bg-color);
    transition: all 0.2s ease-in;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.search-bar input:focus, .navbar a:active, .search-bar a:active {
    outline: none;
    color: var(--button-active-color);
    background-color: var(--button-bg-color);
    box-shadow: inset 0 0 15px 0 var(--button-active-shadow-color);
    transition: box-shadow 0.01s ease-out, background-color 0.2s ease-out;
}

.search-bar a:active > .icon-shadow, .navbar a:active > .icon-shadow {
    color: transparent;
    background-color: var(--icon-active-border-color);
    text-shadow: 0 0 5px var(--icon-active-bg-color);
    transition: text-shadow 0.01s ease-out;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.search-bar input:focus {
    transition: box-shadow 0.2s linear ;
}

@media screen and (min-width: 600px) {
    .navbar, .search-bar, .view {
        margin: auto;
        width: 600px;
    }
}

/* SPA VIEWS*/

.view {
    display: none;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
}


.view-body-wrap {
    position: absolute;
}

/* .active {
    display: inline-block;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    background-color: #ffffff;
    
} */

/* grid-template-columns: 3.4em auto; */


.back {
    /* top-bar height */
    font-size: 1.1em;   
    padding: 0.5em 0;
    /* ----------------- */
    text-align: center;
    color: #888;
    background: rgb(255, 255, 255);
    border: 1px solid #888;
    /* border-radius: 5px; */
    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px; */
}

